.injectCnt {
  .injectMenu {
    position: absolute;
    width: 200px;
    top: 60%;
    left: 10px;
    background-color: #243B55 !important;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #021325;

    .item {
      margin: 10px 20px;

      .ant-slider-rail {
        background: #122031 !important;
      }

      .ant-slider-track {
        background: #4d77a0 !important;
      }

      &.ant-switch-checked {
        background: #4d77a0 !important;
      }
    }
  }

  button.cntCancel {
    top: 110%;
    position: absolute;
    background-color: #0a1220;
    border: none;
    border-radius: 10px;
    color: #ffffff;
  }
}


